@charset "UTF-8";
/* Файлы расположены в правельной последовательности, для хорошей оптимизации  */
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
html {
  font-size: 16px;
}

body {
  font-family: "Crimson Pro", "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400;
  color: white;
  min-width: 360px;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

section {
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  transition: all 0.2s;
  cursor: pointer;
}
a:hover {
  color: gray;
  transition: all 0.2s;
}

@font-face {
  font-family: ducine;
  src: url(/fonts/Ducine.otf);
}
.header {
  position: absolute;
  z-index: 999;
  top: 0;
  left: auto;
  right: auto;
  max-height: 125px;
  height: 100%;
  border-bottom: 2.5px solid white;
  border-right: 2.5px solid white;
}
.header .container-fluid, .header .navbar-contacts,
.header .navbar-logo {
  height: 100%;
}
.header .navbar-logo,
.header .navbar-contacts {
  text-align: center;
  word-break: break-all;
  width: 50%;
}
.header .navbar-logo__img {
  border-radius: 50%;
  object-fit: cover;
  height: 100%;
  width: 100%;
  font-size: 64px;
}
.header .social-links {
  font-size: 24px;
}

@media (max-width: 998px) {
  .header {
    width: 100%;
    max-width: 250px;
    max-height: 181.5px;
    border: none;
  }
}
.background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(0.75);
}

.navbar {
  text-align: center;
  text-transform: uppercase;
  position: relative;
}
.navbar__inner {
  display: flex;
}
.navbar__btn {
  position: absolute;
  padding: 30px 0px;
  right: -100%;
  display: none;
  justify-content: center;
  align-items: center;
}
.navbar__btn:not(:last-child) {
  top: 0;
}
.navbar__btn:last-child {
  bottom: 0;
  right: -100%;
}
.navbar__btn.animate-in {
  opacity: 1;
  transform: translateX(0%);
}
.navbar__btn.animate-out {
  opacity: 0;
  transform: translateX(100%);
}
.navbar__btn .bi-caret-left {
  font-size: 48px;
}
.navbar .coli {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex: 1;
  transition: all 1.5s;
  will-change: transition;
}
.navbar .coli.open {
  flex: 10;
  transform: scale(4);
  background-color: linear-gradient(to right, white, transparent, white);
  border: 1px solid white;
}
.navbar .coli.open > a {
  display: none;
}
.navbar .coli.hidden {
  opacity: 0;
  transition-duration: 0.3s;
  /* Укажите желаемую скорость анимации */
}
.navbar .coli:not(:first-child) {
  border-left: 2.5px solid white;
}
.navbar .column-link {
  width: 100%;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  color: white;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  will-change: transition;
}
.navbar .column-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 10rem;
  z-index: -2;
}
.navbar .column-link:before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  width: 0%;
  height: 15%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.6s;
  z-index: -1;
}
.navbar .column-link.animate-height:before {
  top: 0;
  height: 100%;
}
.navbar .column-link:hover {
  color: white;
}
.navbar .column-link:hover:before {
  width: 100%;
}

section {
  display: none;
  opacity: 0;
  position: absolute;
  top: 15%;
  left: 5%;
  height: 70vh;
  width: 85vw;
  z-index: 10;
  background-color: transparent;
  border: none;
}

.practice__title {
  text-align: end;
  text-transform: uppercase;
  letter-spacing: 10px;
}
.practice .categories {
  height: 100%;
  border-right: 2.5px solid white;
}
.practice .categories-list {
  letter-spacing: 2.5px;
  list-style: none;
  text-transform: uppercase;
  gap: 15px;
}
.practice .categories-item {
  text-align: end;
}
.practice .span-wrapper {
  max-height: 55vh;
  overflow-y: scroll;
  /* Цвет скроллбара */
}
.practice .span-wrapper::-webkit-scrollbar {
  width: 6px;
}
.practice .span-wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}
.practice .span-wrapper::-webkit-scrollbar-thumb {
  background-color: #888888;
  height: 50px; /* Высота ползунка */
}
.practice .categories-item {
  transition: transform 0.6s ease;
  transform-origin: center;
}
.practice .categories-item.active {
  text-shadow: 5px 5px 5px black;
  transform: translateX(-15%);
}

@media (max-width: 998px) {
  .navbar {
    height: 100vh;
  }
  .navbar__inner {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .navbar .coli {
    height: 100% !important;
  }
  .navbar .coli.open {
    flex: 10;
    transform: scale(2);
    background-color: linear-gradient(to right, white, transparent, white);
    border: 1px solid white;
  }
  .navbar .coli:not(:first-child) {
    border: none;
  }
  .navbar .coli:not(:last-child) {
    border-bottom: 2.5px solid white;
  }
}

/*# sourceMappingURL=style.css.map */
