.background {
   position: fixed;
   z-index: -1;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   height: 100vh;
   width: 100%;
   background-size: cover;
   background-position: center;
   filter: brightness(.75);
}

.navbar {
   text-align: center;
   text-transform: uppercase;
   position: relative;

   &__inner {
      display: flex;
   }

   &__btn {
      pointer-events: auto;
      position: absolute;
      padding: 30px 0px;
      right: -100%;
      z-index: 11;
      display: none;
      justify-content: center;
      align-items: center;

      &.animate-in {
         opacity: 1;
         transform: translateX(0%);
      }

      &.animate-out {
         opacity: 0;
         transform: translateX(100%);
      }

      & .bi-caret-left {
         font-size: 48px;
      }
   }

   .main-page {
      top: 0;
   }

   .about-us {
      display: none;
      max-height: 110px;
      position: absolute;
      z-index: 11;
      padding: 0;
      flex-direction: column-reverse;
      top: calc($position + 15px);
      left: 6%;
      &>img {
         transform: rotateZ(-90deg);
      }
   }

   .contact-us {
      bottom: 0;
      right: -100%;
   }

   .column {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100%;
      flex: 1;
      transition: all 1.5s ease-out;
      will-change: transition;

      &-link {
         width: 100%;
         display: inline-block;
         padding: .75rem 1.25rem;
         color: $white;
         letter-spacing: .15rem;
         transition: all .3s;
         position: relative;
         overflow: hidden;
         z-index: 1;
         will-change: transition;

         &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            border-radius: 10rem;
            z-index: -2;
         }

         &:before {
            content: '';
            position: absolute;
            top: 42%;
            left: 0;
            width: 0%;
            height: 15%;
            background-color: rgba(0, 0, 0, 0.8);
            transition: all .6s;
            z-index: -1;
         }

         &.animate-height {
            &:before {
               top: 0;
               height: 100%;
            }
         }

         &:hover {
            color: $white;

            &:before {
               width: 100%;
            }
         }
      }

      &.open {
         flex: 10;
         transform: scale(2.5);
         background-color: linear-gradient(to right, white, transparent, white);
         border: 1px solid $white;

         &>a {
            display: none;
         }

      }

      &.hidden {
         opacity: 0;
         transition-duration: 0.3s;
         /* Укажите желаемую скорость анимации */
      }

      &:not(:first-child) {
         border-left: 2.5px solid $white;
      }
   }
}

section {
   display: none;
   opacity: 0;
   position: absolute;
   top: 15%;
   left: 5%;
   height: 70vh;
   width: 85vw;
   z-index: 10;
   background-color: transparent;
   border: none;

}

.about {}

.practice {
   font-family: 'Ducine';
   font-size: 28px;
   line-height: 25px;
   letter-spacing: 2px;

   & .row {
      height: 100%;
   }

   &__title {
      text-align: end;
      text-transform: uppercase;
      font-size: 106px;
      letter-spacing: 10px;
   }

   .categories {
      height: 100%;

      &-list {
         border-right: 2.5px solid $white;
         letter-spacing: 2.5px;
         list-style: none;
         text-transform: uppercase;
         gap: 15px
      }

      &-item {
         text-align: end;

         & a {
            letter-spacing: 5px;
         }
      }
   }

   .content-wrapper {
      max-height: 55vh;
      overflow-y: scroll;

      /* Цвет скроллбара */
      &::-webkit-scrollbar {
         width: 6px;
      }

      &::-webkit-scrollbar-track {
         background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
         background-color: #888888;
         height: 50px;
         /* Высота ползунка */
      }
   }

   .categories-item {
      transition: transform 0.6s ease;
      transform-origin: center;
   }

   .categories-item.active {
      text-shadow: 5px 5px 15px black;
      transform: translateX(-15%);
   }
}

.clients {}

.career {}

.contacts {}

@media (max-width: 998px) {

   .navbar {
      height: 100vh;

      &__inner {
         height: 100%;
         flex-direction: column;
         justify-content: center;
         align-content: center;
      }

      .column {
         height: 100% !important;

         &.open {
            flex: 10;
            transform: scale(2);
            background-color: linear-gradient(to right, white, transparent, white);
            border: 1px solid $white;
         }

         &:not(:first-child) {
            border: none;
         }

         &:not(:last-child) {
            border-bottom: 2.5px solid $white;
         }
      }
   }
}