html {
    font-size: 18px;
}

body {
    font-family: 'Poiret One','Josefin Sans','Montserrat', 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
    color: $white;
    min-width: 360px;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 54px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

section {
    padding: 0;
}

a {
    text-decoration: none;
    color: $white;
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
        color: $gray;
        transition: all 0.2s;
    }
}

@font-face {
    font-family: Ducine;
    src: url(/fonts/Ducine.ttf);
}